{{ define "main" }}

<div class="mainfeed">
	<div class="socialwrapper">
		<div class="social">
			<div class="socialbody">
				<h1>{{ .Title }}</h1>
				<p>
				Mostly film. Mostly shot, developed, scanned, (and sometimes printed and scanned again) by me.
				</p>
			</div>
		</div>
	</div>

	<div id="mainfeed">
		{{ range (.Paginate (where .Site.Taxonomies.archive.false "Section" "photography") 5).Pages }}
		{{ partial "social" . }}
		{{ end }}
		<div class="socialwrapper">
			<div class="social">
				{{ template "_internal/pagination.html" . }}
			</div>
		</div>
	</div>

	<div class="socialwrapper">
		<div class="social">
			<div class="socialbody">
				<h2>Portfolio</h2>
				{{ .Content }}
			</div>
		</div>
	</div>
</div>

{{ end }}
