<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{{ .Title }}</title>
	</head>
	{{ partial "queststyle.html" . }}
	<body>
		<div class="board">
			<div id="notices">
				<div id="title" class="parchment">
					<h3 class="innertitle">Briarlock Association of Brigands and Layabouts</h3>
					<h4 class="innertitle">presents</h4>
					<h1 class="innertitle">{{ .Title }}</h1>
					<h4 class="innertitle">paid for via kind donation from The Caffafort Family</h4>
				</div>
				<div class="mapcontainer">
					<div class="map" />
				</div>
				{{ .Content }}
			<div>
		</div>
	</body>
	
<svg>
  <filter id="wavy2">
    <feTurbulence x="0" y="0" baseFrequency="0.003" numOctaves="6" seed="1" />
    <feDisplacementMap in="SourceGraphic" scale="10" />
  </filter>
</svg>
</html>

