{{ define "main" }}

<div class="mainfeed">
	<div class="socialwrapper">
	<div class="social">
		<div class="socialbody">
	<h1>{{.Title}}</h1>
		{{ .Content }}
	</div>
	</div>
	</div>


{{ $set := where (where .Site.Taxonomies.archive.false "Section" "projects") "Kind" "page" }}
{{ $len := (len $set) }}
{{ if ge $len 1 }}
{{ range $set }}
{{ partial "social" . }}
{{ end }}
{{ end }}
</div>
{{ end }}
