{{ $dateTime := .PublishDate.Format "2006-01-02" }}
<a href={{.RelPermalink}}>
	<div class="socialwrapper linkbox">
	<div class="social">
		{{ if .Params.thumb }}
		<div class="thumbnailcontainer">
		<img class="thumbnail" src="{{((.Resources.GetMatch .Params.thumb).Resize "400x").RelPermalink}}"/>
		</div>
		{{ end }}
		<div class="socialbody {{if .Params.thumb}}thumbspace{{end}}">
		<h3>{{ .Title }}</h3>
		{{ if .Description }}<p>{{ .Description }}</p>{{end}}
		{{ range .Resources.Match "img-*" }}
		<img class="feedimg" src={{(.Resize "600x").RelPermalink}} />
		{{ end }}
		{{ if not .Description }}
			<p>{{ replaceRE `<div.+class=.+hidden[\s\S]*?<\/div>` "" .Content | plainify | markdownify}}</p>
		{{end}}
		</div>
	</div>
	</div>
</a>
