{{ $dateTime := .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}
{{ $dateFormat := .Site.Params.dateFormat | default "2 Jan, 2006" }}
<div class="u-author h-card hidden">
	<img class="u-photo" src="{{ ((resources.Get "profile.jpg").Resize "100x").RelPermalink }}" />
	<a class="u-url p-name" rel="me" href="https://alexdalt.co.uk">Alex Dalton</a>
</div>
<small><i data-feather="calendar"></i>
	{{ if .PublishDate }}
	<time class="dt-published" datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
	{{ end }}
	{{ if .Params.Aliases }}<a class="u-url" href="https://alexdalt.co.uk{{index .Params.Aliases 0}}">{{ .Params.Aliases }}</a>{{ end }}
</small>
{{ with .Params.categories }}
  <br>
  <i data-feather="categories"></i>
  {{ range . }}
  {{ $href := print (relURL "categories/") (urlize .) }}
  Category: <a  href="{{ $href }}">{{ . }}</a>
  {{ end }}
{{ end }}
