{{ $currentPage := . }}

<nav id="nav" >
	<ul>
		<li>
			<a class="{{if eq .RelPermalink "/"}}h-card{{end}} active" href="https://alexdalt.co.uk">
				<img class="u-photo" src="{{ ((resources.Get "profile.jpg").Resize "100x").RelPermalink }}" />
				Alex Dalton
			</a>
		</li>
		<ul class="sub-menu">
			<li>├─<a class="{{ if in .RelPermalink "/research" }}active{{ end }} nav-link"href="/research/">research</a></li>
			<!-- <ul class="sub-menu">
			{{ $set := where (where .Site.Taxonomies.archive.false "Section" "research") "Kind" "page" }}
			{{ $len := (len $set) }}
			{{ if ge $len 1 }}
			{{ range $index, $element := $set }}
				{{ if eq (add $index 1) $len }}
				<li>│<span class="indent"></span>└─<a class="{{ if eq $currentPage.RelPermalink .Page.RelPermalink}}active{{end}}" href="{{ .Page.Permalink }}">{{ replace (lower .Page.Title) " " "_" }}</a></li>
				{{ else }}
				<li>│<span class="indent"></span>├─<a class="{{ if eq $currentPage.RelPermalink .Page.RelPermalink}}active{{end}}" href="{{ .Page.Permalink }}">{{ replace (lower .Page.Title) " " "_" }}</a></li>
				{{ end }}
			{{ end }}
			{{ end }}
			</ul>-->
			<li>├─<a class="{{ if in .RelPermalink "/photography" }}active{{ end }} nav-link"href="/photography/">photography</a></li>
			<!-- <ul class="sub-menu">
			{{ $set := where (where .Site.Taxonomies.archive.false "Section" "photography") "Kind" "page" }}
			{{ $len := (len $set) }}
			{{ if ge $len 1 }}
			{{ range $index, $element := $set }}
				{{ if eq (add $index 1) $len }}
				<li>│<span class="indent"></span>└─<a class="{{ if eq $currentPage.RelPermalink .Page.RelPermalink}}active{{end}}" href="{{ .Page.Permalink }}">{{ replace (lower .Page.Title) " " "_" }}</a></li>
				{{ else }}
				<li>│<span class="indent"></span>├─<a class="{{ if eq $currentPage.RelPermalink .Page.RelPermalink}}active{{end}}" href="{{ .Page.Permalink }}">{{ replace (lower .Page.Title) " " "_" }}</a></li>
				{{ end }}
			{{ end }}
			{{ end }}
			</ul>-->
			<li>├─<a class="{{ if in .RelPermalink "/projects" }}active{{ end }} nav-link"href="/projects/">projects</a></li>
			<!--<ul class="sub-menu">
			{{ $set := where (where .Site.Taxonomies.archive.false "Section" "projects") "Kind" "page" }}
			{{ $len := (len $set) }}
			{{ if ge $len 1 }}
			{{ range $index, $element := $set }}
				{{ if eq (add $index 1) $len }}
				<li>│<span class="indent"></span>└─<a class="{{ if eq $currentPage.RelPermalink .Page.RelPermalink}}active{{end}}" href="{{ .Page.Permalink }}">{{ replace (lower .Page.Title) " " "_" }}</a></li>
				{{ else }}
				<li>│<span class="indent"></span>├─<a class="{{ if eq $currentPage.RelPermalink .Page.RelPermalink}}active{{end}}" href="{{ .Page.Permalink }}">{{ replace (lower .Page.Title) " " "_" }}</a></li>
				{{ end }}
			{{ end }}
			{{ end }}
			</ul>-->
			<!-- <li>├─<a href="/blog/">blog</a></li>
			<ul class="sub-menu">
				{{ $len := (len .Site.Taxonomies.categories) }}
				{{ $index := 0 }}
				{{ range .Site.Taxonomies.categories }}
				{{ if eq (add $index 1) $len }}
				<li>│<span class="indent"></span>└─<a href="{{ .Page.Permalink }}">{{ lower .Page.Title }}</a></li>
				{{ else }}
				<li>│<span class="indent"></span>├─<a href="{{ .Page.Permalink }}">{{ lower .Page.Title }}</a></li>
				{{ end }}
				{{ $index = (add $index 1) }}
				{{ end }}
			</ul> -->
			<!-- <li>└─<a href="">cv</a></li> -->
			<li>├─<a class="{{ if (or (in .RelPermalink "/miniatures") (in .RelPermalink "/collections") false) }}active{{ end }} nav-link"href="/miniatures/">miniatures</a></li>
		</ul>
		<li><a rel="me" class="nav-link" href="https://www.instagram.com/the_sims_2_pets.exe/" target="_blank">photography instagram</a></li>
		<li><a rel="me" class="nav-link"  href="https://www.instagram.com/mactrotures/" target="_blank">miniatures instagram</a></li>
		<li><a rel="me" class="nav-link"  href="https://gitlab.com/AlexDalton" target="_blank">gitlab</a></li>
		<li><a rel="me" class="nav-link"  href="https://www.linkedin.com/in/alex-dalton-769736a5/" target="_blank">linkedin</a></li>
	</ul>
</nav>

