{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{
  $slug := .RelPermalink
    | replaceRE "^/|/$" ""
    | replaceRE "/" "--"
}}
{{
  $webmentions := index $.Site.Data.webmentions $slug
    | default slice
}}
<div class="mainfeed">
	<div class="socialwrapper">
	<div class="social">
		<div class="socialbody h-entry">
			<div class="header">
				<a class="u-url" href="{{ .Permalink }}">
					{{ if not .Params.reply }}
					<h1 class="p-name">{{ .Title }}</h1>
					{{ end }}
				</a>
				{{if .Params.authors }}
				<h4 class="p-author">{{ index .Params "authors" }}</h4>
				{{else}}
				<a class="p-author h-card" style="display: none;" href="https://alexdalt.co.uk">Alex Dalton
				<img class="u-photo" src="{{ ((resources.Get "profile.jpg").Resize "100x").RelPermalink }}" style="display:none;" /></a>
				{{end}}
				{{if .Params.Description }}
				<h4 class="p-summary">{{ .Description }}</h4>
				{{end}}
				{{ if .Params.collections }}
				<small><ul class="tags">
						[{{ range .Params.collections }}
						<li class="tags"><a href="{{ "/collections/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
						{{ end }}
						]
					</ul></small>
					{{ end }}
					<time class="dt-published" datetime={{.PublishDate.Format "2006-01-02T17:15:00"}}>{{if $dateTime }}{{$dateTime}} {{end}}</time>
			</div>
				{{ if .Params.reply }}
				<div>
					In reply to <a href="{{ .Params.reply }}" class="u-in-reply-to at-reply">@{{ index .Params "at-reply" }}</a>: <span class="e-content">{{ .Params.content }}</span>
				</div>
				{{ else }}
				<div class="e-content">
					{{ .Content }}
				</div>
				{{ end }}
			{{ if .Params.authors }}
			<div class="footer">
				{{if .Params.preprint }}
				<h4><a href='{{index .Params "preprint"}}'>Preprint</a></h4>
				{{end}}
				{{if .Params.available }}
				<h4><a href='{{index .Params "available"}}'>Full Text{{if .Params.venue }} Available At {{.Params.venue}}{{end}}</a></h4>
				{{end}}
			</div>
			{{ end }}
		</div>
	</div>
	</div>
</div>
