{{ $dateTime := .PublishDate.Format "2006-01-02" }}
<div class="socialwrapper linkbox">
	<a class="sociallink" {{ if .Params.external }}
		target="_blank" href={{.Params.external}}
		{{ else }}
		href={{.RelPermalink}}
		{{ end}}>
		<div class="social">
			{{ if .Params.thumb }}
			<div class="thumbnailcontainer">
				<img class="thumbnail" src="{{((.Resources.GetMatch .Params.thumb).Resize "400x").RelPermalink}}"/>
			</div>
			{{ end }}
			<div class="socialbody {{if .Params.thumb}}thumbspace{{end}}">
				{{ if not .Params.reply }}
				<h3>{{ .Title }}</h3>
				{{ if .Params.venue }}
				<h5>{{.Params.venue}}</h5>
				{{end}}
				<div>
					{{ index .Params "authors" }}
				</div>
				{{end}}
				{{ if .Params.reply }}
				<p>
				In reply to <span class="at-reply">@{{ index .Params "at-reply" }}</span>: {{ .Params.content }}
				</p>
				{{ end }}

				<small>{{if $dateTime }}{{$dateTime}} {{end}}{{ if .Params.categories }}{{.Params.categories}} {{end}}{{.Params.aliases}}</small>
				{{ if .Description }}<p>{{ .Description }}</p>{{end}}
				{{ range .Resources.Match "img-*" }}
				<img class="feedimg" src={{(.Resize "600x").RelPermalink}} />
				{{ end }}
			</div>
		</div>
	</a>
</div>
