<div id="webmentions" />
<link rel="stylesheet" type="text/css" href="/css/webmention.css" />
{{ if .Params.Aliases }}<script src="/js/webmention.min.js" add-urls="https://alexdalt.co.uk{{index .Params.Aliases 0}}|" async></script>{{ end }}
