<!DOCTYPE html>
<html>
	<head>
		<title>{{.Permalink}}</title>
		<link rel="canonical" href="{{.Permalink}}"/>
		<meta name="robots" content="noindex">
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<meta http-equiv="refresh" content="0; url={{.Permalink}}"/>
	</head>
</html>
