{{ define "main" }}
<div id="mainfeed">
	{{ range (.Paginate (where site.RegularPages "Title" "ne" "404 Error") 10).Pages }}
	{{ partial "social" . }}
	{{ end }}
	<div class="socialwrapper">
	<div class="social">
	{{ template "_internal/pagination.html" . }}
	</div>
	</div>
</div>
{{ end }}
