{{ define "main" }}

<div class="mainfeed">
	<div class="socialwrapper">
	<div class="social">
		<div class="socialbody">
<h1>{{ .Title }}</h1>
		</div>
		</div>
		</div>

	{{ range (.Paginate .Pages.ByPublishDate.Reverse 10).Pages }}
	{{ partial "social" . }}
	{{ end }}

	<div class="socialwrapper">
	<div class="social">
	{{ template "_internal/pagination.html" . }}
	</div>
	</div>

</div>
{{ end }}
