<div class="paper">
	<b>{{ index .Params "title" }}</b>
	<div>
	{{ index .Params "authors" }},
	{{ index .Params "date" }}
	</div>
	<div>
		{{ if not (eq (index .Params "preprint") "") }}
		<a href="{{ index .Params "preprint" }}">Preprint</a>
		{{ end }}
		<a href="{{ index .Params "available-at" }}">Available Here</a>
	</div>
</div>
